body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding: 0;
    margin: 0;
}

.hero-image {
    background-color: #1F2937;
    color: #E5E7EB;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    padding: 0 200px 100px;
    gap: 70px;
}

.hero h1 {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
    margin: 0;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    padding: 8px;
}

.placeholder {
    background-image: url("https://via.placeholder.com/450x220/858585?text=");
    height: 220px;
    width: 450px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: #F9FAF8;
}

.header {
    display: flex;
    justify-content: space-between;
}

.header-links {
    display: flex;
    padding: 8px;
    gap: 10px;
}

.hero {
    display: flex;
    gap: 50px;
}

p {
    margin: 0;
}

button {
    background-color: #3882f6;
    padding: 5px 15px;
    color: #F9FAF8;
    border-radius: 6px;
    margin-top: 5px;
}

.information h1 {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
}

.img-holder {
    border: 2px solid #3882f6;
    width: 130px;
    height: 130px;
    border-radius: 6px;
}

.text {
    width: 130px;
}

.cards {
    display: flex;
    text-align: center;
    gap: 20px;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.information {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 0 100px;
}